<style>
    html {
        background-color: #101010;
    }

    div{
        max-width: 500px;
        margin: auto;
        text-align: center;
        color: white;
        font-size: xx-large
    }

    #reset_button{
        font-size: medium;
    }

    .generation-checkbox{
        font-size: medium;
        vertical-align: center;
        horiz-align: left;
    }
</style>

{% extends 'base.html' %}

{% block title %}Who's That Pokémon?{% endblock %}

{% block guess_the_pokemon %}
    <form method="POST" action="{{ url_for('set_pokemon_generation') }}">
        <input class="generation-checkbox" type="checkbox" name="generation" value="1" {{'checked="checked"' if 1 in generations else ""}}>Generation 1<br>
        <input class="generation-checkbox" type="checkbox" name="generation" value="2" {{'checked="checked"' if 2 in generations else ""}}>Generation 2<br>
        <input class="generation-checkbox" type="checkbox" name="generation" value="3" {{'checked="checked"' if 3 in generations else ""}}>Generation 3<br>
        <input class="generation-checkbox" type="checkbox" name="generation" value="4" {{'checked="checked"' if 4 in generations else ""}}>Generation 4<br>
        <input class="generation-checkbox" type="checkbox" name="generation" value="5" {{'checked="checked"' if 5 in generations else ""}}>Generation 5<br>
        <input class="generation-checkbox" type="checkbox" name="generation" value="6" {{'checked="checked"' if 6 in generations else ""}}>Generation 6<br>
        <input class="generation-checkbox" type="checkbox" name="generation" value="7" {{'checked="checked"' if 7 in generations else ""}}>Generation 7<br>
        <input type="submit" value="Set Generations" id="generations_button">
    </form>
    <div>
        Wow, you finished all the pokemon for the selected generation(s), nice job!
    </div>
    <form method="POST" action="{{ url_for('reset_game') }}">
        <input type="submit" value="Reset Game?" id="reset_button">
    </form>

{% endblock %}
