<style>
    html {
        background-color: #101010;
    }

    div{
        max-width: 500px;
        margin: auto;
        text-align: center;
        color: white;
        font-size: xx-large
    }

    #right_message{
        color: green;
    }

    #wrong_message{
        color: red;
    }

    #new_message{
        color: yellow;
    }

    #tries_left{
        color: blue;
    }

    #guess_pokemon{
        font-size: x-large;
    }

    #generations_button{
        font-size: medium;
    }

    #guess_button{
        font-size: x-large;
    }

    .generation-checkbox{
        font-size: medium;
        vertical-align: center;
        horiz-align: left;
    }

    label{
        color: white;
    }
</style>

{% extends 'base.html' %}

{% block title %}Who's That Pokémon?{% endblock %}

{% block guess_the_pokemon %}
    {%  if right_pokemon %}
        <div id="right_message">Nice job, here's another Pokémon!</div>
    {%  endif %}
    {%  if wrong_pokemon %}
        <div id="wrong_message">Aww that's not it, try again! </div>
    {%  endif %}
    {%  if new_pokemon %}
        <div id="new_message">That was a tough one, let's try another Pokémon!</div>
    {%  endif %}
    <form method="POST" action="{{ url_for('set_pokemon_generation') }}">
        <input class="generation-checkbox" id="generation-1" type="checkbox" name="generation" value="1" {{'checked="checked"' if 1 in generations else ""}}><label for="generation-1">Generation 1</label><br>
        <input class="generation-checkbox" id="generation-2" type="checkbox" name="generation" value="2" {{'checked="checked"' if 2 in generations else ""}}><label for="generation-2">Generation 2</label><br>
        <input class="generation-checkbox" id="generation-3" type="checkbox" name="generation" value="3" {{'checked="checked"' if 3 in generations else ""}}><label for="generation-3">Generation 3</label><br>
        <input class="generation-checkbox" id="generation-4" type="checkbox" name="generation" value="4" {{'checked="checked"' if 4 in generations else ""}}><label for="generation-4">Generation 4</label><br>
        <input class="generation-checkbox" id="generation-5" type="checkbox" name="generation" value="5" {{'checked="checked"' if 5 in generations else ""}}><label for="generation-5">Generation 5</label><br>
        <input class="generation-checkbox" id="generation-6" type="checkbox" name="generation" value="6" {{'checked="checked"' if 6 in generations else ""}}><label for="generation-6">Generation 6</label><br>
        <input class="generation-checkbox" id="generation-7" type="checkbox" name="generation" value="7" {{'checked="checked"' if 7 in generations else ""}}><label for="generation-7">Generation 7</label><br>
        <input type="submit" value="Set Generations" id="generations_button">
    </form>

    <div>
        <img src={{ image }} alt="MysteryPokémon" id="mystery-pokemon">
    </div>

    <div id="tries_left">You have {{ guess_count }} tries left</div>
    <div>
        <form method="POST" action="{{ url_for('guess_that_pokemon') }}">
            <input type="search" id="guess_pokemon" name="guess_pokemon" autofocus>
            <input type="submit" value="Guess!" id="guess_button">
        </form>
    </div>
{% endblock %}
